ul{

 margin: 0px 0px 0px 0px;
 padding: 5px;
}

  
ul > li{

  text-decoration: none;
  margin-right: 20px;
  color: white;
  padding: 3px;
  background-color: black;

} 

li > a:hover{
  background-color: white;
  color: red;
  border: 2px solid green;
  width: 50px;
  padding: 5px;
}

#list-user{
padding: 0px 0px 0px 0px;
 
  margin-left: 0px;
  float: left;
  position: absolute;

}

#output{

  float:right;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;


}

.reg_wrap{

  display: none;
}


.wrap_chat{

  display: none;
}
